@import 'reset';
@import 'bourbon';
@import 'fonts';

/* Colours */
$white: #f9f7f2;
$grey: #cacdbe;
$green: #99c291;
$dgreen: #97bb90;
$yellow: #ffcf67;
$red: #e25454;
$blue: #75aaa7;
$dgrey: #515151;

html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	font: normal 62.5%/1.5em 'Helvetica Nueue', Helvetica, sans-serif;
	background: $grey;
}

.wrapper{
	margin: 0 auto;
	overflow: auto;

	@media screen and (min-width: 960px){
		width: 960px;
	}
}

.sub-head{
	background: $dgrey;
	color: $grey;
	overflow: auto;
	padding: 10px;
	font-size: 1.2em;

	.sub-title{
		float: left;
	}

	.site-list{
		float: right;
		list-style: none;

		.site{
			float: left;
			display: inline-block;
			border-left: 1px solid $grey;
			padding: 0 10px;

			&:first-child{
				border-left: none;
				padding-left: 0;
			}

			&:last-child{
				padding-right: 0;
			}

			a{
				color: $grey;
				font-weight: bold;
				text-decoration: none;

				&:focus, &:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.main-head{
	background: $white;
	color: $dgrey;
	clear: both;

	@media screen and (min-width: 960px){
		height: 115px;
	}

	.wrapper{
		overflow: visible;
	}

	.banner{
		position: relative;

		@media screen and (min-width: 960px){
			top: -5px;
			left: -2px;
			float: left;
		}
	}

	.site-title{
		float: left;
		font-weight: normal;
		font-size: 5.6em;
		line-height: 1em;
		margin: 24px 0 0 6px;
		@include raleway;

	}
}

.site-content{
	clear: both;
	padding: 20px 0;

	.post{
		background-color: $white;
		padding: 10px;
		border-top: 5px solid $blue;

		.post-meta{
			border-bottom: 1px solid $grey;
			overflow: auto;
			padding-bottom: 10px;
			margin-bottom: 10px;
			display: block;
			color: darken($grey, 25%);
			font-weight: bold;
			font-size: 1.2em;

			time{
				float: right;
				margin-left: 10px;
			}

			.post-tags{
				float: right;
			}
		}

		.post-title{
			font-size: 3.3em;
			line-height: 1em;
			margin-bottom: 20px;
			color: $dgrey;

			a{
				text-decoration: none;
				color: $dgrey;

				&:hover, &:focus{
					text-decoration: underline;
				}
			}
		}

		.post-excerpt, .post-content{
			font-size: 1.6em;
			line-height: 1.5em;
			color: $dgrey;

			a{
				color: $blue;
				text-decoration: none;

				&:hover, &:focus{
					text-decoration: underline;
				}
			}
		}

		.post-content{

			& > *{
				margin-bottom: 20px;
			}

			h2{
				font-size: 1.8em;
			}

			h3{
				font-size: 1.4em;
			}

			ul{
				margin-left: 16px;
			}

			ol{
				margin-left: 20px;
			}

			code{
				display: block;
				padding: 10px;
				border: 1px solid $red;
				margin: 20px 0;
				background-color: $dgrey;
				color: $red;
				font-size: 1.3em;
			}

			hr{
				border-top-color: $dgreen;
			}

			input{
				border: 1px solid $blue;
				padding: 5px;
				font-size: 1.2em;
			}

			p{
				code{
					display: inline-block;
					padding: 0px 10px;
					margin-right: 2px;
				}
			}

		}
	}
}

.main-foot{
	clear: both;
	font-size: 1.2em;
	padding: 10px 0;
	color: $dgrey;

	.footer-info{
		list-style: none;

		li{
			float: left;
			display: block;
			border-left: 1px solid $dgrey;
			padding: 0 10px;

			&:first-child{
				border-left: none;
				padding-left: 0;
			}

			a{
				color: $dgrey;
				text-decoration: none;
				font-weight: bold;

				&:focus, &:hover{
					text-decoration: underline;
				}
			}
		}
	}
}