<footer class="site-footer">
  <div class="container">
    <div class="site-footer__copy">&copy; Alex Older 2024</div>
  </div>
</footer>

<style>
  .site-footer{
    background-color: var(--color-secondary);
  }

  .site-footer__copy{
    padding: var(--space-l) 0;
    font-size: var(--step--2);
  }
</style>