---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import GlobalStyles from '../components/GlobalStyles.astro';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | Alex Older.com</title>
		<GlobalStyles />
		<link rel="icon" href="/images/logo.svg">
		<link rel="mask-icon" href="/images/logo.svg" color="#27B6D5">
		<link rel="apple-touch-icon" href="/images/logo.svg">
		<meta name="theme-color" content="#27B6D5">
	</head>
	<body>
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
